h1 {
    line-height: 1.2 !important;
}

:root {
    --zoomimage-overlay-background: rgba(0, 0, 0, 0.875);
}

.sidebar-nav {
    width: 21rem;
}

.sidebar li>p {
    font-weight: 700;
    margin: 0;
}

.sidebar p>a {
    font-weight: bold;
}

.sidebar p>a:hover {
    font-weight: bold;
}

.small-heading {
    font-size: 22px;
    font-weight: 600;
    color: #0b87da;
}

/* Cover
============================================================================= */
:root {
    --cover-background-color: white;
    --cover-heading-color: var(--theme-color);;
}

/* link style */

.link1 a {
    border-bottom: .05em solid #b4e7f8;
    box-shadow: inset 0 -0.05em 0 #b4e7f8;
    color: inherit;
    transition: background-color .25s cubic-bezier(.33, .66, .66, 1);
		text-decoration: none;
}

.link1 a:hover, .link1 a:focus, .link1 a:active {
    background-color: #b4e7f8;
    text-decoration: none;
}

/* image cointainer grey */

.image-container {
    padding: 16px 32px;
    background: #F9F9F9;
}

summary {
    cursor: pointer;
}
